

.headerStyle {
  text-align:center;
  background-color : grey;
  font-size:1rem;
  color:rgb(240,240,240);
  padding:1rem;
  margin : 1rem 0rem;
}

.sideNav {
  background : gray;
  width : 200px;
  height :900px;
  padding:1rem 0rem;
  float:left;
}
.sideNav ul li {
  list-style: none;
  margin : 10px 0px;
  width: fit-content;
  cursor:pointer;
  font-size:1.2rem;
}